/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* cursor: auto; */
}


/* PC */
/* 본문 스타일 */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background: black;
    overflow: hidden;
}

/* 네비게이션 스타일 */
@media (min-width: 720px){
    nav ul {
        z-index: 3;
        position: absolute;
        list-style: none;
        width: 52vw;
        top: 5%;
        /* left: 60%; */
        right: 5%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 720px){
    nav ul {
        z-index: 3;
        position: absolute;
        list-style: none;
        /* width: 90vw; */
        top: 5%;
        left: 5%;
        right: 5%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

nav ul li {
    margin-left: 2%;
    margin-right: 2%;
}

nav ul li a {
    color: var(--Color, #fff);
    font-family: "IBM Plex Sans";
    font-size: medium;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    
}

nav ul li a:hover{
    font-style: italic;
    font-weight: 700;    
    cursor: pointer;
}

/* profile box  */
@media (min-width: 720px){
    .Profile{
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px; 
        left: 5%;
        bottom: 10vh;
        width: 30%;
    }
    .Profile img{
        width:200px;
        height: 200px;
    }
}

@media (max-width:720px){
    .Profile{
        z-index: 3;
        position: absolute;
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 12px; 
        left: 5%;
        top: 10vh;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        align-content:end;
    }
    .Profile img{
        width:50px;
        height: 50px;
    }
}


.Profile h1{
    align-self: stretch;
    color: var(--Color, #ff5900);
    font-family: "IBM Plex Sans";
    font-size: xx-large;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.contact{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.box{
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.box a{
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: smaller;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.875rem */
    text-decoration:none;
}

.box img{
    width: 16px;
    height: 16px;
    background-size: contain;
    /* background-repeat: no-repeat; */
}

.tags {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.tags ul {
    display: flex;
    padding: 4px 10px 6px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 99px;
    border: 1px solid var(--Color, #FFF);
}

@media (min-width: 720px){
    .tags ul h1 {
        display: inline-block;
        flex-wrap: nowrap;
        color: var(--Color, #FFF);
        font-family: "IBM Plex Sans";
        font-size: small;
        font-style: italic;
        font-weight: 500;
        line-height: 100%; /* 0.9rem */
    }
}

@media (max-width: 720px){
    .tags ul h1 {
        display: inline-block;
        flex-wrap: nowrap;
        color: var(--Color, #FFF);
        font-family: "IBM Plex Sans";
        font-size: x-small;
        font-style: italic;
        font-weight: 500;
        line-height: 100%; /* 0.9rem */
    }
}

/* scroll grad */
@media (min-width: 720px){
    .rect1{
        z-index: 2;
        position:absolute;
        top: 0;
        right: 0;
        height: 13vh;
        width: 100vw;
        flex-shrink: 0;
        align-self: stretch;
        background: linear-gradient(180deg, #000 60%, rgba(0, 0, 0, 0.00) 100%);
        cursor:auto;
    }
    
}

@media (max-width: 720px){
    @media (min-width: 500px){
        .rect1{
            z-index: 2;
            position:absolute;
            top: 0;
            right: 0;
            height: 26vh;
            width: 100vw;
            flex-shrink: 0;
            align-self: stretch;
            background: linear-gradient(180deg, #000 80%, rgba(0, 0, 0, 0.00) 100%);
            cursor:auto;
        }
    }

    @media (max-width: 500px){
        .rect1{
            z-index: 2;
            position:absolute;
            top: 0;
            right: 0;
            height: 36vh;
            width: 100vw;
            flex-shrink: 0;
            align-self: stretch;
            background: linear-gradient(180deg, #000 80%, rgba(0, 0, 0, 0.00) 100%);
            cursor:auto;
        }
    }
}


.rect2{
    z-index: 2;
    position:absolute;
    bottom: -1vh;
    right: 0;
    height: 11vh;
    width: 100vw;
    flex-shrink: 0;
    align-self: stretch;
    background: linear-gradient(0deg, #000 80%, rgba(0, 0, 0, 0.00) 100%);
}

/* main Contents */
@media (min-width:720px){
    main {
        display: flex;
        position: absolute; /* 상대 위치로 변경 */
        top:0;
        right: 5vw;
        z-index: 1;
        width: 52vw;
        height: 100vh;
        padding: 13vh 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20vh;
        flex-shrink: 0;
        overflow-y: auto;
    }
}

@media (max-width:720px){
    main {
        display: flex;
        position: absolute; /* 상대 위치로 변경 */
        top:0;
        right: 5vw;
        z-index: 1;
        width: 90vw;
        height: 100vh;
        padding: 13vh 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20vh;
        flex-shrink: 0;
        overflow-y: auto;
    }
}



.intro {
    display: flex;
    width: 98%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    align-self: stretch;
}

.intro h1{
    align-self: stretch;
    margin-top: 24vh;
    color: var(--Color, #fff);
    width: 80%;
    font-family: "IBM Plex Sans";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}

.intro h2{
    align-self: stretch;
    color: var(--Color, #e1e1e1);
    font-family: "IBM Plex Sans";
    font-size: large;
    font-style: normal;
    font-weight: 200;
    line-height: 140%; /* 22.4px */
}

section {
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}

.U_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

:root {
    --background-image-url: url('image/ubicomopworkshop.png');
}

.unit{
    width: 44vh;
    height: 44vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, #000 90%), var(--background-image-url) no-repeat center center / cover;
    transition: 0.3s;
}

.unit:hover{
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 90%), var(--background-image-url) no-repeat center center / cover; */
    opacity: 0.7;
    cursor: pointer;
    
}

/* .unit img{
} */

.unit li{
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.unit li h1{
    width: 100%;
    align-self: stretch;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: smaller;
    font-style: italic;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}

.unit li h2{
    width: 100%;
    align-self: stretch;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: larger;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.2px */
}

.list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.list_number{
    width: 4%;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: large;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.list li{
    width:96%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.list li h1{
    align-self: stretch;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: large;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.list li h2{
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: small;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.worksHL{
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: small;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.kor{
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans KR";
    font-size: small;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gap{
    position:relative;
    height: 25vh;
    width: 100%;
}

.back{
    z-index: 3;
    position:absolute;
    margin-right: 1vw;
    top: 8vh;
    right: 5vw;
    width: 32px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: var(--Color, #FFF);
}

.works_title{
    margin-top: 4vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.works_title h1{
    width: 100%;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: medium;
    font-style: italic;
    font-weight: 400;
    line-height: 100%; /* 14px */
}

.works_title h2{
    width:  100%;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: x-large;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

section a{
    align-self: stretch;
    color: var(--Color, #ff5900);
    font-family: "IBM Plex Sans";
    font-size: large;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
section a:hover{
    color: var(--Color, white);
}

.works_tags{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.thumbnail{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    overflow-x: scroll;
    gap: 16px;
}

.thumbnail img{
    height: 29vh;
    margin-bottom: 1%;
}

p{
    align-self: stretch;
    color: var(--Color, #FFF);
    font-family: "IBM Plex Sans";
    font-size: medium;
    font-style: normal;
    font-weight: 200;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.005rem;
}

/* ********************** */

/* .clickable-image {
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.clickable-image:hover {
    opacity: 0.7;
}

#popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}

.popup-container{
    justify-content: space-between;
    align-items: center;
    
}

.before-btn{
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 2vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.next-btn{
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 2vw;
}

.close-btn {
    position: absolute;
    top: 5vh;
    right: 2vw;
    color: #ff5900;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #ff5900;
    text-decoration: none;
    cursor: pointer;
} */



/* 푸터 스타일 */
/* footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
} */


/* scrollbar */

/* 전체 스크롤바 너비 및 높이 */
::-webkit-scrollbar {
    width: 3px; /* 세로 스크롤바 너비 */
    height: 3px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
    background: #000; /* 트랙 색상 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 슬라이더 (버튼) */
::-webkit-scrollbar-thumb {
    background: #fff; /* 슬라이더 색상 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 슬라이더에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* 호버 시 색상 */
}

/* font정의 */
.highlight {
    color: #ff5900;
    font-weight: 200;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
}

.color{
    color: #ff5900;
}

#effect-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 마우스 이벤트를 무시하도록 설정 */
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: #ff590080; /* 50% 투명도 */
    width: 40px; /* 원의 초기 크기 */
    height: 40px; /* 원의 초기 크기 */
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
}